<!doctype html>
<html>
<head>
    <title>PDF to Flashcards</title>
    <script src="https://kit.fontawesome.com/ed08c72797.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='scripts.js') }}" defer></script>
</head>
<body>

    <div id="main">
      
    <!-- Upload Section -->
    <div id="titleWrapper">
      <h1 id="title">flashpdf</h1>
    </div>
      <div id="uploadSection">
        

        <h3>Upload a PDF</h3>
        <form method="post" enctype="multipart/form-data">
          <div id="uploadInput">
            <!-- <input id="browserBTN" type="file" name="pdf"> -->
            <div class="file-input">
              <input
                type="file"
                name="pdf"
                id="file-input"
                class="file-input__input"
                onchange="displayFileName()"
              />
              <label class="file-input__label" for="file-input">
                <svg
                  aria-hidden="true"
                  focusable="false"
                  data-prefix="fas"
                  data-icon="upload"
                  class="svg-inline--fa fa-upload fa-w-16"
                  role="img"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 512 512"
                >
                  <path
                    fill="currentColor"
                    d="M296 384h-80c-13.3 0-24-10.7-24-24V192h-87.7c-17.8 0-26.7-21.5-14.1-34.1L242.3 5.7c7.5-7.5 19.8-7.5 27.3 0l152.2 152.2c12.6 12.6 3.7 34.1-14.1 34.1H320v168c0 13.3-10.7 24-24 24zm216-8v112c0 13.3-10.7 24-24 24H24c-13.3 0-24-10.7-24-24V376c0-13.3 10.7-24 24-24h136v8c0 30.9 25.1 56 56 56h80c30.9 0 56-25.1 56-56v-8h136c13.3 0 24 10.7 24 24zm-124 88c0-11-9-20-20-20s-20 9-20 20 9 20 20 20 20-9 20-20zm64 0c0-11-9-20-20-20s-20 9-20 20 9 20 20 20 20-9 20-20z"
                  ></path>
                </svg>
                <span>Upload pdf</span></label
              >
              <span id="selectedFileName"></span>
            </div>
            <input id="termsInput" type="text" name="number_of_terms" placeholder="Target number of terms">
            <input id="uploadBTN" type="submit" value="Generate Flashcards">
          </div>
        </form>
      </div>
  
  
      <!-- Results Section (only show if flashcards exist) -->
      {% if flashcards %}
      <h1>Flashcards</h1>
      <div class="card-controls">
          <span class="card-info">Card <span id="currentCard">1</span> of <span id="totalCards">{{ flashcards|length }}</span></span>
          <button onclick="shuffleCards()">Shuffle Cards</button>
          <label class="study-mode">
              Study Mode:
              <input type="checkbox" id="studyToggle" onchange="toggleStudyMode()">
              Start with Definition
          </label>
      </div>
      <div id="cardContainer">
        <div id="left">
          <span>Previous</span>
          <button class="flipBTN" onclick="prevCard()"><i class="fa-solid fa-circle-chevron-left"></i></button>
        </div>
        <div id="middle">
          <div id="cards">
            {% for word, definition in flashcards.items() %}
                <div class="card"> 
                    <button class="remove-card-btn" onclick="removeCard(this); event.stopPropagation();">Remove Card</button>
                    <div class="front" onclick="flipCard(this)">
                        {{ word }}
                    </div>
                    <div class="back" onclick="flipCard(this)">
                        {{ definition }}
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
        <div id="right">
          <span>Next</span>
          <button class="flipBTN" onclick="nextCard()"><i class="fa-solid fa-circle-chevron-right"></i></button>
        </div>
      </div>

      {% endif %}


    </div>
    

</body>
</html>
